<ion-header translucent="true">
  <ion-toolbar >
    <ion-title>
      Feedback
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="closeModal()">
        <ion-icon  style="color: whitesmoke;"  slot="icon-only" name="close"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div class="rating">
    <input type="radio" id="star1" name="rating" value="1">
    <label for="star1"></label>
    <input type="radio" id="star2" name="rating" value="2">
    <label for="star2"></label>
    <input type="radio" id="star3" name="rating" value="3">
    <label for="star3"></label>
    <input type="radio" id="star4" name="rating" value="4">
    <label for="star4"></label>
    <input type="radio" id="star5" name="rating" value="5">
    <label for="star5"></label>
    <br />
    <ion-button fill="outline" (click)="closeModal()" color="primary">
      Noter
    </ion-button>
  </div>

</ion-content>
