<ion-header>
  <ion-toolbar>
    <ion-title style="margin-left:70px">About Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style ="color: whitesmoke;"defaultHref="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img class="image" src="./assets/food.jpg">
  <ion-grid >
    <ion-row>
      <ion-col col-6>
        <ion-card style="margin-left:60px; margin-right:60px;" padding >
          
          <h2 style="text-align:center">Taste The Difference!</h2>

        </ion-card>

      </ion-col>
      </ion-row>
      </ion-grid>
  <div>
    <h2>About Us</h2>
    <ion-item>
      <p>KIB COIN is a large restaurant,a restaurant-controlled online food ordering, the restaurants create their own website and app, or choose to hire a delivery vendor.They make sure to obtain software that manages the orders efficiently, meaning it has the capability to manage different orders at once. When they hire a vendor, the restaurant pays for a monthly fee or percentage-based fees. The vendor covers the developmental costs.

        A customer can choose to have the food  for pick-up.The process consists of a customer choosing the restaurant of their choice, scanning the table's QRcode, choosing a family than an item, and finally choosing for pick-up . Payment is then administered by paying in cash at the restaurant when going to pickup.
      </p>
    </ion-item>
  </div>
  <div>
    <h2>Open Hours</h2>
    <ion-item>
      <p>Monday</p>
      <p>07:00am - 00:00am</p>
    </ion-item>
    <ion-item>
      <p>Tuesday</p>
      <p>07:00am - 00:00am</p>
    </ion-item>
    <ion-item>
      <p>Wednesday</p>
      <p>07:00am - 00:00am</p>
    </ion-item>
    <ion-item>
      <p>Thursday</p>
      <p>07:00am - 00:00am</p>
    </ion-item>
    <ion-item>
      <div>
        <p>Friday</p>

      </div>
      
      <p>07:00am - 00:00am</p>
    </ion-item>
    <ion-item>
      <p>Saturday</p>
      <p>07:00am - 00:00am</p>
    </ion-item>
    <ion-item>
      <p>Sunday</p>
      <p>06:00am - 11:00pm</p>
    </ion-item>
  </div>

</ion-content>
