.actionbutton{
  background:#8b998b;
    color:white;
    margin-left:150px;
    border-radius: 5px;
    font-size:small;
    font-family:"Nunito",sans-serif;
    height:40px
  }
 .ion-padding{
  background: #ead8ef;
  border-radius: 50px;
 }
 .imag{
   margin-left:110px;
   height:150px;
 }