<ion-header>
  <ion-toolbar>
    <ion-title style="margin-left:65px">Contact  Us</ion-title>
    <ion-buttons slot="start">
      <ion-back-button style ="color: whitesmoke;"defaultHref="profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="contenu">
  <div class="ion-padding">
    <h1 style="text-align:center">C O N T A C T US</h1>
    <p style="text-align:center">Feel free to drop us a message!</p>
    <br>
    <br>
    <ion-item>
      <ion-input  placeholder="Your Name" style="padding-left:10px; font-family:sans-serif;text-align:center">
      </ion-input>

    </ion-item>
    <ion-item>
      <ion-input placeholder="Your Email" style="padding-left:10px; font-family:sans-serif;text-align: center;">
      </ion-input> 

    </ion-item>
     
    <ion-item>
      <ion-input placeholder="Your Message" style="padding-left:10px; font-family:sans-serif;text-align: center;">
      </ion-input> 

    </ion-item>
    <br>
    <br>
    <br>
    <button class="actionbutton">Send
    </button>
   
    </div>
    <img class= " imag"src="./assets/log.png">

</ion-content>
