<ion-header>
  <ion-toolbar>
    <ion-title class="title-head">Welcome to KIB COIN</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button style ="color: whitesmoke;"menu="main-menu"></ion-menu-button>
    
      
    </ion-buttons>
    
    
  </ion-toolbar>

</ion-header>
<ion-content class="background">
  
  <button style="width:100px;margin-top: 30px;margin-left: 120px;background:#8b998b;color: whitesmoke;text-align: center;size: 20px"  (click)="scanCode()">
    <ion-icon name="qr-scanner"></ion-icon>
   <p style="font-size: small;">Scan Code</p> 
  </button>
  
  <ion-card *ngIf="scannedCode">
    <ion-card-content>
      Result from Scan: {{scannedCode}}
    </ion-card-content>
    <img src="./assets/qrcode.png">
    <ion-button class="actionbutton" style="width:130px;" fill="clear" style="text-transform: none;" routerLink="/list" routerDirection="root">
      <p style="font-size: small;">next</p>
    </ion-button>

  </ion-card>
  
  
 

<img style=" margin-top:90px"src="./assets/bar.jpg" >





</ion-content>
