ion-content.background{
    --background:url(../../assets/backk.jpg) ;
}  
.image{
    position: fixed;
    margin-top:200px;
    height:150px;
    width:150px;
    margin-left: 110px;
   
   }
   .actionbutton{
    background-color:#95A595;
    color:white;
    margin-top: 450px;
    border-radius: 5px;
    margin-left:100px;
    margin-right:100px;
    font-size:small;
    font-family:"Nunito",sans-serif;
   }
  