<ion-header>
  <ion-toolbar>
    <ion-title></ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon  style="color: whitesmoke;"  slot="icon-only" name="close"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contenu">

  <ion-item style="padding-left:30px;padding-right: 30px;padding-top:30px">
    <ion-label style="font-size: small;">Old Password</ion-label>
    <ion-card slot="end" style="width: 100px;">
    <ion-input > </ion-input>
  </ion-card>

  </ion-item>
  <ion-item style="padding-left:30px;padding-right: 30px;">
    <ion-label style="font-size: small;">New Password</ion-label>
    <ion-card slot="end" style="width: 100px;">
    <ion-input > </ion-input>
  </ion-card>
  </ion-item>
  <ion-item style="padding-left:30px;padding-right: 30px;">
    <ion-label style="font-size: small;">Repeat New Password</ion-label>
    <ion-card slot="end" style="width: 100px;">

    
    <ion-input > </ion-input>
  </ion-card>
  </ion-item>
 
  <button style="margin-top: 60px;margin-left: 150px;background: gray;height:40px;color:whitesmoke;width:60px;border-radius: 10px;">Save</button>
</div>
<img class= " imag"src="./assets/log.png">
</ion-content>
