<ion-header>
  <ion-toolbar>
    <ion-title>
      
    </ion-title>
    <ion-buttons slot="start">
      <ion-button (click)="close()">
        <ion-icon  style="color: whitesmoke;margin-top: 20px;"  slot="icon-only" name="close"></ion-icon>
      </ion-button>
      
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Select language</ion-label>
    <ion-select placeholder="Select One">
      <ion-select-option value="f">Arabic</ion-select-option>
      <ion-select-option value="m">English</ion-select-option>
      <ion-select-option value="a">French</ion-select-option>
    </ion-select>
  </ion-item>
  
  
  
</ion-content>

